<div class="oj-hybrid-padding">
  <h1>Calcola il tuo codice fiscale</h1>

  <div class="oj-flex-items-pad">
    <div class="oj-flex">
      <div class="oj-flex-item">
        Riempi la form e premi il pulsante Calcola!
        <br/><br/>
        <oj-form-layout id="form-container">
          <oj-input-text id="name" required label-hint="Nome" value="{{name}}"></oj-input-text>
          <oj-input-text id="surname" required label-hint="Cognome" value="{{surname}}"></oj-input-text>
          <oj-label id="gender" show-required="true">Genere</oj-label>
          <oj-radioset id="gender" labelled-by="gender" required value="{{gender}}" >
            <oj-option id="male" value="M">Maschio</oj-option>
            <oj-option id="female" value="F">Femmina</oj-option>
          </oj-radioset>
          <oj-input-date id="birthdate" required label-hint="Data di nascita" value='{{birthdate}}'></oj-input-date>
          <oj-input-text id="town" required label-hint="Citt&agrave" value="{{town}}"></oj-input-text>
        </oj-form-layout>
        <oj-button id='calculate' on-oj-action='[[buttonClick]]'>Calcola!</oj-button>
      </div>
      <div class="oj-flex-item">
        <h3 class="oj-label">Il tuo codice fiscale &egrave;:</h3>
        <oj-progress id="progressCircle" type="circle" value="{{progressValue}}" data-bind="visible: dataLoaded"></oj-progress>
        <h2><oj-bind-text value="[[cf]]"></oj-bind-text></h2>
      </div>
    </div>
  </div>

</div>
